@import "../../styles/vars.scss";

.TaskWrapper {
    margin-top: 28px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.error {
    font-size: 50px;
    color: red;
}

.containerUser {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    // .userName {
    //     color: $dark-brown;
    //     font-weight: 600;
    //     font-size: $fz;
    //     line-height: 65px;
    // }

    .containerPoint {
        width: 100%;
        display: flex;
        align-items: center;

        .imgPoint {
            width: 56px;
            height: 56px;
        }

        .numberPoint {
            padding-left: 8px;
            font-weight: 300;
            font-size: $fz;
            line-height: 65px;
        }
    }
}

.containerTask {
    position: relative;
    top: -90px;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 888px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .containerTextTask {
        width: 100%;
        background-color: $accent;
        border-radius: 50px;
        padding: 61px;
        text-align: center;

        .textTask {
            font-size: $fz;
            color: $white;
            word-wrap: break-word;
        }
    }

    .submitTask {
        padding: 20px 32px;
        font-size: $fz;
        color: $dark-brown;
        border-radius: 24px;

        transition: all .2s ease-in-out;

        &:hover {
            background-color: $accent;
            color: white;
        }

        &:active {
            transform: scale(0.96);
        }
    }
}