@import "../../styles/vars.scss";

.userAnswerInput {
    font-size: 40px;
    font-style: italic;
    line-height: 48px;
    text-align: center;

    &::placeholder {
        transition: all .2s ease;
        opacity: 1;
    }

    &:focus {
        &::placeholder {
            opacity: 0;
        }
    }
}