@import "../../styles/vars.scss";
@import "../../styles/media_mixin.scss";

.container {
    margin-top: 28px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.error {
    font-size: 50px;
    color: red;
}

.containerUser {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .linkToMain {
        font-weight: 800;
        font-size: 13.1894px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;


        @include _480 {
            font-size: 11.27px;
            line-height: 14px;
        }
    }


    .containerPoint {
        width: 100%;
        display: flex;
        align-items: center;

        .imgPoint {
            width: 40px;

        }

        .numberPoint {
            padding-left: 8px;
            font-weight: 300;
            font-size: 39.0638px;
            line-height: 47px;

            @include _720 {
                font-size: 31.0338px;
                line-height: 38px;
            }

            @include _480 {
                font-size: 30.0534px;
                line-height: 36px;
            }
        }
    }
}

.containerTask {
    position: relative;
    top: -30px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 642px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include _720 {
        width: 407px;
    }

    @include _480 {
        width: 246px;
    }

    img {
        width: 296px;

        @include _720 {
            width: 318px;
        }

        @include _480 {
            width: 242px;
        }
    }

    .containerTextTask {
        width: 100%;
        background-color: $accent;
        border-radius: 50px;
        padding: 36px;
        text-align: center;

        @include _720 {
            padding: 30px;
        }

        @include _480 {
            padding: 20px 20px;

        }

        .textTask {
            font-size: 21.7021px;
            line-height: 26px;
            color: $white;
            word-wrap: break-word;

            @include _720 {
                font-size: 23.2754px;
                line-height: 28px;
            }

            @include _480 {
                font-size: 19.5347px;
                line-height: 24px;
            }
        }
    }

    .submitTask {
        padding: 20px 32px;
        font-size: 39.0638px;
        line-height: 47px;
        color: $dark-brown;
        border-radius: 24px;

        transition: all .2s ease-in-out;

        &:hover {
            background-color: $accent;
            color: white;
        }

        &:active {
            transform: scale(0.96);
        }

        @include _720 {
            font-size: 31.0338px;
            line-height: 38px;
        }

        @include _480 {
            font-size: 22.54px;
            line-height: 27px;
        }
    }
}