@import "../../styles/vars.scss";
@import "../../styles/media_mixin.scss";

.honorText,
.honorQuestion {
    width: 372px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    cursor: pointer;
    border-radius: 83px;

    @include _720 {
        width: 425px;

    }

    @include _480 {
        width: 280px;
        margin-bottom: 24px;
    }

}

.honorQuestion {
    background-color: $lightgreen;

    img {
        padding: 8px 0;
        width: 52px;

        @include _720 {
            width: 60px;
        }

        @include _480 {
            width: 40px;
        }
    }
}

.honorText {
    padding: 18px 5px;
    background-color: $orange;
    color: #ffff;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    letter-spacing: 0.065em;
    text-transform: uppercase;


    @include _480 {
        font-size: 20px;
        line-height: 24px;
    }
}