@import "../../assets/styles/vars.scss";

.containerContent {
    padding: 0 50px 0 66px;
    width: 100%;
    background-color: $accent;
    border: none;

    .containerContentLink {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-top: 32px;

        .containerDesignCircle {
            display: flex;
            padding-top: 22px;


            .designCircleBig {
                margin: 23px 20px 0 0;
                border-radius: 50px;
                width: 64px;
                height: 64px;
                background-color: $lightgreen;
            }

            .designCircleSmall {
                border-radius: 50px;
                width: 46px;
                height: 46px;
                background-color: $lightgreen;
            }
        }


        a {
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: $white;
            transition: all .2s ease-in-out;

            &:hover {
                color: $orange;
            }
        }
    }

    .containerContentMain {
        display: flex;
        align-items: center;
        justify-content: center;

        .descriptionGame {
            padding-left: 93px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .descriptionGameText {
                max-width: 500px;
                padding-bottom: 67px;
                font-weight: 400;
                font-size: 24px;
                line-height: 29px;
                color: $white;
                text-align: center;
            }

            .descriptionGameButton {
                width: 40%;
                font-weight: 800;
                font-size: 26px;
                line-height: 31px;
                text-align: center;
                letter-spacing: 0.04em;
                color: $white;
                background-color: $lightgreen;
                padding: 11px 29px;
                border-radius: 16px;
                transition: all .2s ease-in-out;

                &:hover {
                    background-color: $green;

                }
            }
        }

    }

}