@import "../../styles/vars.scss";

.honorText,
.honorQuestion {
    margin-bottom: 38px;
    width: 574px;
    border-radius: 83px;
}

.honorQuestion {
    background-color: $lightgreen;
    cursor: default;

    img {
        padding: 8px 0;
    }
}

.honorText {
    padding: 28px 0;
    background-color: $orange;
    color: #fff;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.065em;
    text-transform: uppercase;
}