@import "../styles/vars.scss";

.finishedGameMessage {
    display: flex;
    flex-direction: column;
}

.elementBigConfetti {
    position: absolute;
    right: 0;
    top: 0;
}

.containerContent {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;

    .containerMessage {
        position: relative;

        bottom: 200px;

        img {
            max-width: 650px;
            height: 100%;
        }

        .containerMessageText {
            position: absolute;
            bottom: 140px;
            left: 170px;
            max-width: 380px;
            text-align: center;

            .messageTitle {
                padding-bottom: 10px;
                font-weight: 700;
                font-size: 20px;
                line-height: 39px;
                text-transform: uppercase;
                color: $white;
            }

            .messageText {
                max-width: 377px;
                font-weight: 500;
                font-size: 18px;
                line-height: 28px;
                color: $white;
            }
        }
    }


}

.designCircle {

    padding-right: 100px;
    position: relative;
    bottom: 350px;
    display: flex;
    justify-content: flex-end;

    .circleBig {

        margin-right: 8px;
        border-radius: 50%;
        margin-right: 16px;
        width: 92px;
        height: 92px;
        background-color: $orange;
    }

    .circleMiddle {
        position: relative;
        bottom: 64px;
        margin-right: 16px;
        border-radius: 50%;
        width: 64px;
        height: 64px;
        background-color: $orange;
    }

    .circleSmall {
        position: relative;
        bottom: 120px;
        border-radius: 50%;
        width: 46px;
        height: 46px;
        background-color: $orange;
    }
}