@import "../styles/vars.scss";
@import "../styles/media_mixin.scss";

.containerUfoDesign {
    position: absolute;
    left: 50px;
    top: 0;
    display: flex;
    flex-direction: column;
    z-index: -1;


    @include _480 {
        left: 20px;
    }

    .elementUfo {
        max-width: 143px;

        @include _920 {
            max-width: 135px;
        }

        @include _720 {
            max-width: 150px;
        }

        @include _480 {
            max-width: 100px;
        }
    }

    .elementSmallConfetti {
        position: relative;
        bottom: 90px;

        @include _920 {
            max-width: 141px;
            bottom: 70px;

        }

        @include _720 {
            max-width: 150px;
            bottom: 70px;
            left: 10px;
        }

        @include _480 {
            max-width: 110px;

            bottom: 50px;
        }
    }
}

.elementBigConfetti {
    position: absolute;
    top: 0;
    right: 50px;
    z-index: 2;
    max-width: 230px;

    @include _920 {
        right: 0px;
        max-width: 90px;
    }

    @include _480 {
        max-width: 80px;
        bottom: 300px;

    }
}


.containerContent {
    width: 100%;
    margin: 150px auto 0 auto;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 60px;




    @include _720 {
        padding: 0 16px;
        column-gap: 16px;
    }

    @include _480 {
        flex-direction: column-reverse;
        column-gap: 0;
        align-items: center;
        justify-content: unset;
    }


    .imgMonster {
        max-width: 280px;

        @include _920 {
            max-width: 200px;
        }

        @include _720 {
            max-width: 150px;
        }
    }

    .containerMessage {
        width: 100%;
        flex-grow: 1;
        max-width: 420px;
        display: flex;
        align-items: center;
        flex-direction: column;

        .containerMessageText {
            background: #009285;
            padding: 24px 16px;
            border-radius: 24px;

            text-align: center;

            @include _720 {
                padding: 16px 8px;
                border-radius: 16px;
            }


            .MessageTitle {
                margin-bottom: 15px;
                font-weight: 700;
                font-size: 18px;
                line-height: 29px;
                color: $white;

                @include _920 {
                    font-size: 15px;
                    line-height: 20px;
                }

                @include _720 {
                    padding: 0 30px 10px 20px;
                    font-size: 12px;
                    line-height: 13px;
                }
            }

            .messageText {
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: $white;

                @include _920 {
                    font-size: 13px;
                    line-height: 15px;
                }

                @include _720 {
                    font-size: 12px;
                    line-height: 12px;
                }
            }
        }

        .buttonRoute {
            width: 100%;
            margin-top: 24px;
            padding: 11px 20px;
            border-radius: 12px;
            font-weight: 800;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: #FFFFFF;
            background-color: $orange;
            transition: all .2s ease-in-out;

            &:hover {
                background-color: rgb(255, 94, 0);
            }

            @include _480 {
                text-transform: lowercase;
            }
        }
    }
}