@import "../styles/vars.scss";
@import "../styles/media_mixin.scss";

@include _920 {}

@include _720 {}

@include _480 {}

.containerUfoDesign {
    padding-left: 100px;
    display: flex;
    flex-direction: column;

    @include _920 {
        padding-left: 70px;
    }

    @include _720 {
        padding-left: 24px;
    }

    @include _480 {
        padding-left: 35px;
    }

    .elementUfo {
        max-width: 143px;

        @include _920 {
            max-width: 135px;
        }

        @include _720 {
            max-width: 195px;
        }

        @include _480 {
            max-width: 135px;
        }
    }

    .elementSmallConfetti {
        position: relative;
        bottom: 90px;

        @include _920 {
            max-width: 141px;
            bottom: 70px;
        }

        @include _720 {
            max-width: 221px;
            bottom: 70px;
        }

        @include _480 {
            max-width: 153px;
            bottom: 50px;
        }
    }
}

.elementBigConfetti {
    position: relative;
    z-index: 2;
    padding-right: 50px;
    max-width: 230px;
    position: relative;
    bottom: 160px;

    @include _920 {
        max-width: 100px;
        padding-right: 0px;
    }

    @include _720 {
        max-width: 117px;
    }

    @include _480 {}
}


.containerContent {

    width: 963px;
    display: flex;

    @include _920 {
        width: 580px;
    }

    .imgMonster {
        padding-top: 187px;
        max-width: 281px;

        @include _920 {
            max-width: 200px;
        }

        @include _720 {}


    }

    .containerMessage {
        padding-top: 60px;
        width: 100%;
        display: flex;
        flex-direction: column;

        @include _920 {}

        @include _720 {}



        img {
            width: 429px;



        }

        .containerMessageText {
            padding: 60px 0 0 60px;
            position: absolute;
            max-width: 371px;
            text-align: center;

            @include _920 {
                right: 160px;
                padding: 25px 0 0 30px;
                max-width: 280px;
            }

            @include _720 {}




            .MessageTitle {
                padding: 0 20px 15px 20px;
                font-weight: 700;
                font-size: 18px;
                line-height: 29px;
                color: $white;

                @include _920 {
                    font-size: 15px;
                    line-height: 20px;
                }

                @include _720 {}


            }

            .messageText {

                max-width: 377px;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: $white;

                @include _920 {
                    font-size: 13px;
                    line-height: 15px;
                }

                @include _720 {}


            }
        }



    }
}

.containerButtonRout {
    display: flex;
    justify-content: flex-end;

    .buttonRout {
        margin-top: 180px;
        padding: 11px 20px;
        border-radius: 11.7984px;
        font-weight: 800;
        font-size: 12.5358px;
        line-height: 15px;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #FFFFFF;
        background-color: $orange;
        transition: all .2s ease-in-out;

        &:hover {
            background-color: rgb(255, 94, 0);

        }

        @include _920 {}

        @include _720 {}

    }
}

//adaptive-version-480