@import "../../styles/vars.scss";
@import "../../styles/media_mixin.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerLink {
  width: 100%;
  padding-top: 69px;
  display: flex;
  justify-content: flex-end;
}

.link {
  display: inline-block;
  padding: 0 144px 0 0;
  font-family: "Inter";
  font-weight: 300;
  font-size: 42.2108px;
  line-height: 51px;
  color: #4b4545;
  transition: 0.3s;

  @include _720 {
    font-size: 40px;
    line-height: 48px;
  }

  @include _480 {
    font-size: 30px;
    line-height: 36px;
  }
}

.link:hover {
  color: rgba(245, 144, 77, 0.94);
  transition: 0.3s;
}



.containerForm {
  position: relative;
  width: 100%;
  max-width: 642px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include _720 {
    max-width: 562px;
  }

  @include _480 {
    max-width: 423px;
  }
}

.imgStar {
  max-width: 375px;
  position: absolute;
  top: -100px;
  left: -360px;

  @include _720 {
    top: -150px;
    left: -70px;
    width: 323px;
  }

  @include _480 {
    top: -150px;
    left: -70px;
    width: 290px;
  }
}

.imgMonsterHead {
  width: 312px;

  @include _720 {
    width: 359px;
  }

  @include _480 {
    width: 270px;
  }
}

.formSign {
  display: flex;
  flex-direction: column;
}


.errorText {
  color: red;
}

.inputForm {
  background: rgba(245, 144, 77, 0.94);
  border-radius: 16px;
  color: #e8e8e8;
  font-weight: 300;
  font-size: 31.9715px;
  line-height: 39px;
  margin-bottom: 16px;
  text-align: center;
  padding: 18px 0;

  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }

  &::placeholder {
    font-size: 31.9715px;
    line-height: 39px;
    color: #e8e8e8;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    transition: all .2s ease;

    @include _720 {
      font-size: 35px;
      line-height: 42px;
    }

    @include _480 {
      font-size: 25px;
      line-height: 30px;
    }
  }

  @include _720 {
    font-size: 35px;
    line-height: 42px;
  }

  @include _480 {
    font-size: 25px;
    line-height: 30px;
  }
}

.submitForm {
  margin: 0 auto;
  padding: 31px 24px;
  font-size: 41px;
  line-height: 50px;
  font-weight: 300;
  font-size: 54px;
  line-height: 65px;
  color: #4b4545;
  transition-property: width;
  transition: 0.3s;

  &:hover {
    text-decoration: underline rgba(245, 144, 77, 0.94);
    transition: 0, 3s;
  }

  @include _720 {
    font-size: 40px;
    line-height: 48px;
  }

  @include _480 {
    padding-top: 25px;
    font-size: 30px;
    line-height: 36px;
  }
}