@import "../../assets/styles/vars.scss";

.containerLink {
  width: 100%;
  padding-top: 69px;
  display: flex;
  justify-content: space-between;
}

.link {
  display: inline-block;
  padding: 0 144px 0 0;
  font-family: "Inter";
  font-weight: 300;
  font-size: 54px;
  line-height: 65px;
  color: #4b4545;
  transition: 0.3s;
}

.link:hover {
  color: rgba(245, 144, 77, 0.94);
  transition: 0.3s;
}

.imgStar {
  position: relative;
  top: -80px;
}

.containerForm {
  position: absolute;
  top: 150px;
  max-width: 642px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgMonsterHead {
  width: 80%;
}

.formSign {
  display: flex;
  flex-direction: column;
}

.inputForm {
  background: rgba(245, 144, 77, 0.94);
  border-radius: 16px;
  font-size: 42px;
  color: #e8e8e8;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 42px;
  line-height: 51px;
  margin-bottom: 16px;
  text-align: center;
  padding: 18px 0;
}

.inputForm::placeholder {
  font-size: 42px;
  color: #e8e8e8;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 42px;
  line-height: 51px;
}

.submitForm {
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 54px;
  line-height: 65px;
  color: #4b4545;
  transition-property: width;
  transition: 0.3s;
}

.submitForm:hover {
  text-decoration: underline rgba(245, 144, 77, 0.94);
  transition: 0, 3s;
}